#!/bin/bash
# ./qnap.conf (root:root, 640)

# Konfigurationsdatei fuer "remote-system-backup.sh"
# Angepasste Version fuer qnap
# Stand: 20150604cw

# Auflistung aller verwendeten Variablen mit Erlaeuterung:
# ANZAHLBACKUPS = Anzahl von Backups die aufgehoben werden sollen
# SSHTYPE       = Welcher SSH-Typ soll fuer die Kommunikation verwendet werden (1 oder 2)
# DEBUG         = De/aktivieren des Debug-Modus
# MAIL          = Mailadresse des Benutzers, an die STAT oder Informationen zum Ablauf
#                 bei erfolgreichem oder nicht erfolgreichem Durchlauf geschickt werden
# RHOST         = Netzwerkname des PCs von dem Daten gesichert werden sollen
# RIP           = IP des PCs von dem Daten gesichert werden sollen (optional, falls DNS-Aufloesung nicht vorhanden)
# RUSER         = Gibt den User an, der auf dem Remotesystem verwendet werden soll (optional, default "root")
# RRSYNC        = Pfad zu rsync auf dem Remotesystem (optional)
# RPATH         = Pfad zum Verzeichnis das gesichert werden soll (ohne "/" zum Ende)
# LPATH         = Pfad zum Backup-Ordner auf dem Backup-Server (ohne "/" zum Ende) (optional)
# LOG           = Pfad zu den durchgefuehrten rsync Kommandos (ohne "/" zum Ende) (optional)
# STAT          = Pfad zur Statistik-LOG-Datei von RSYNC fuer den Benutzer bei korrektem (optional)
#                 Durchlauf (ohne "/" zum Ende)
# ADMINLOG      = Datei und Pfad zu den Fehlerausgaben die an ADMINMAIL geschickt werden (optional)


ANZAHLBACKUPS=30
SSHTYPE=2
DEBUG=no
MAIL="admin@example.com"
RHOST="nas1"
RPATH=" /Apps /etc /root /share/homes /share/MD0_DATA/.qpkg /var/log"
#RIP="192.168.1.11"
RUSER="admin"
#RRSYNC="/usr/bin/rsync"
#LPATH="/srv/backup/rsync/$RHOST"
#LOG="$LPATH/log"
#STAT="$LPATH/log"
#ADMINLOG="$LPATH/log/admin.log"

return
- lost+found
- /var/log/samba/var/var
